.block-button{
    padding: 25px 0px;
}

.submit-edit-btn{
    float: right;
    margin: 0px 20px;
}

#delete-form-users-1{
    margin: 5px 0px;
}

#delete-form-users-2{
    margin: 20px 0px;
}

.info-row{
    margin-top: 50px;
}

#delete-form-roles-1{
    margin: 5px 0px;
}

#delete-form-roles-2{
    margin: 20px 0px;
}

.submit-btn-roles{
    margin-top: 20px;
}