.block-button{
    padding: 25px 0px;
}

.submit-edit-btn{
    float: right;
    margin: 0px 20px;
}

.delete-form-1{
    margin: 5px 0px;
}

.delete-form-2{
    margin: 20px 0px;
}

.info-row{
    margin-top: 50px;
}


.submit-btn-roles{
    margin-top: 20px;
}


.pagination-container{
    margin-top: 50px;
}


.pagination{
    justify-content: center;
}


.delete-prequestion-container{
    margin: 0.5rem 0;
}