
td form{
    display: inline-block;
}

.td-actions{
    text-align: center;
}


.td-actions-btns a{
    width: 45%;
}

.td-actions-btns form{
    width: 50%;
}

.td-actions-btns form button{
    width: 100%;
}

.submit-edit-btn{
    float: right;
    margin: 0px 20px;
}

.delete-form-1{
    margin: 5px 0px;
}

.delete-form-2{
    margin: 20px 0px;
}

.info-row{
    margin-top: 50px;
}


.submit-btn-roles{
    margin-top: 20px;
}


.pagination-container{
    margin-top: 50px;
}


.pagination{
    justify-content: center;
}


.delete-art-container{
    margin: 0.5rem 0;
}


// Search Rows and Columns

.search-row{
    padding-bottom: 20px;
}

.search-col{
    display: flex;
    justify-content: center;
}




/**
**
** Art Approve page
**
**/

.tags-li{
    cursor: pointer;
    transition: all 1s ease;
}

.tags-li:hover{
    background-color: #bcd7ff;
}


.selected-tags{
    padding-bottom: 1rem;
}

.selected-tags-li{
    cursor: pointer;
    padding: 0.3rem;
    font-size: 0.8rem;
    margin-right: 0.5rem !important;
}




/**
**
**  Admin Edit Art Page
**  
**
**/


.edit-tags{
    padding: 25px 0px;
}