.submit-question-btn{
    float: right;
}


.add-choice-btn{
    float: left;
}


.create-question-btns{
    margin-top: 30px;
}



.question-card{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}


.heart-icon{
    transition: all 0.2s ease;
    fill: #ccc;
}

.heart-icon:hover{
    fill: rgb(252, 121, 160);
}


.avatar-pic{
    height: 25px;
    width: 25px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%; 
}

.card-header-flex{
    display: flex;
}

.card-header-text{
    margin-left: 1rem;
}

.profile-first-row{

    margin-top: 3rem;

}


.profile-img img{

    max-height: 100px;
    max-width: 100px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%; 
    
}

.profile-text-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-text{
    vertical-align: middle;
}



.tag-container{

    position: relative;
    
}

.suggestions {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
  }
  .suggestions div {
    transition: all 0.2s ease;
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  .suggestions div:hover {
    background-color: #83b5ff;
  }
  .suggestions-active {

    background-color: DodgerBlue !important;
    color: #ffffff;
  }

  .card-avatar-img{
    max-height: 50px;
    max-width: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%; 
  }