td form {
  display: inline-block;
}

.td-actions {
  text-align: center;
}

.td-actions-btns a {
  width: 45%;
}

.td-actions-btns form {
  width: 50%;
}

.td-actions-btns form button {
  width: 100%;
}

.block-button {
  padding: 25px 0px;
}

.submit-edit-btn {
  float: right;
  margin: 0px 20px;
}

.delete-form-1 {
  margin: 5px 0px;
}

.delete-form-2 {
  margin: 20px 0px;
}

.info-row {
  margin-top: 50px;
}

.submit-btn-roles {
  margin-top: 20px;
}

.pagination-container {
  margin-top: 50px;
}

.pagination {
  justify-content: center;
}

.delete-prequestion-container {
  margin: 0.5rem 0;
}

.search-row {
  padding-bottom: 20px;
}

.search-col {
  display: flex;
  justify-content: center;
}

